<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "DreamUp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="bg-indigo-400">
        <nav role="navigation">
          <a href="/">
            <ul>
              <img class="logo" src="/images/Artboard 2-100.jpg">
              <h1 class="text-white text-5xl font-bold text-center">DreamUp</h1>
            </ul>
          </a>
          <div style="margin: auto;" id="player-info" class="hidden">
              <p id="player-info-text" class="absolute text-white font-semibold">
                
              </p>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
